<!-- templates/edit_profile.html -->

{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    
<div class="edit-profile-container">
    <h1>Edit Profile</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    {% if form.errors %}
        <p style="color:red;">Please correct the errors below:</p>
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
